[color]
    ui = true
[user]
    name = Songmu
    email = y.songmu@gmail.com
    signingkey = ~/.ssh/matsuki-masayuki.pub
[core]
    quotepath = false
    excludesfile = ~/.gitignore_global
    precomposeunicode = true
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    # https://github.com/dandavison/delta/issues/1727
    file-decoration-style = none
    hunk-header-decoration-style = none
[alias]
    co = checkout
    ci = commit
    st = status -sb
    br = branch
    cp = cherry-pick
    l  = log --date=local -10
    lo = log --date=local
    subup = submodule foreach 'git pull origin master'
    wd = diff --word-diff
    lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
    dc = diff --cached
    f  = flow
    fh = flow hotfix
    ff = flow feature
    fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
    ag = "!git ls-files | xargs ag --pager=\"less -F -R\" --nogroup --color-match=0\\;31 --color-path=0\\;0 --no-numbers"
[include]
    path = ~/.gitconfig.local
[push]
    default = simple
[diff]
    algorithm = histogram
[diff "lockb"]
    textconv = bun
    binary = true
[ghq]
    root = ~/dev/src
    completeUser = false
[merge]
    ff = false
    conflictStyle = zdiff3
[credential]
    helper = cache --timeout=3600
[pull]
    rebase = yes
[submodule]
    fetchJobs = 4
[init]
    defaultBranch = main
[http]
    cookiefile = ~/.gitcookies
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers
[commit]
    gpgsign = true
