[color]
    ui = true
[user]
    name = Songmu
    email = y.songmu@gmail.com
[core]
    pager = less -r
    quotepath = false
    excludesfile = ~/.gitignore_global
    precomposeunicode = true
[alias]
    co = checkout
    ci = commit
    st = status
#    st = status -sb
    br = branch
    cp = cherry-pick
    l  = log --date=local -10
    lo = log --date=local
    subup = submodule foreach 'git pull origin master'
    wd = diff --word-diff
    lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
    dc = diff --cached
    f  = flow
    fh = flow hotfix
    ff = flow feature
    fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
[diff "swfv"]
    textconv = swfv
[include]
    path = ~/.gitconfig.local
[push]
    default = simple
