[color]
    ui = true
[user]
    name = Masayuki Matsuki
    email = y.songmu@gmail.com
[core]
    pager = less -r
    quotepath = false
    excludesfile = ~/.gitignore_global
[alias]
    co = checkout
    ci = commit
    st = status
#    st = status -sb
    br = branch
    cp = cherry-pick
    l  = log --date=local -10
    lo = log --date=local
    subup = submodule foreach 'git pull origin master'
    wd = diff --word-diff
    lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
    dc = diff --cached
[diff "swfv"]
    textconv = swfv
[include]
    path = ~/.gitconfig.local
[push]
    default = simple
